extends layout

block content
  h1= title
  p available methods
    table(style='text-align:left')
        tr
            th route
            th details
        tr
            td /Journey 
            td 
                a(href='/Journey') Get all journeys
        tr
            td /Journey/{#[strong id]}
            td 
                a(href='/Journey/1') Get the details of the specified journey